<!DOCTYPE HTML>
<html>
<head> 
    <title>Welcome to Googol Search Engine</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/main.css" rel="stylesheet">
</head>
<body>
    <div id="main-content" class="container">
        <h1>Welcome to Googol Search Engine</h1>
        <div class="form-container">
            <p>Select an option you would like to perform:</p>
            <form action="/index" method="post">
                <ul class="option-list">
                    <li>
                        <input type="radio" id="option0" name="option" value="0">
                        <label for="option0">Index a new URL</label>
                    </li>
                    <li>
                        <input type="radio" id="option1" name="option" value="1">
                        <label for="option1">Search for Terms</label>
                    </li>
                    <li>
                        <input type="radio" id="option2" name="option" value="2">
                        <label for="option2">List Pages Linking to a Specific Page</label>
                    </li>
                </ul>
                <input type="submit" value="Submit" class="submit-button">
            </form>
        </div>
    </div>
</body>
</html>